*{
  outline: none;
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $white-color;
}

li{
  list-style-type: none;
}

ul,
li,
h1,
h2,
h3,
p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }
}

p {
  color: $light-black-color;
  line-height: $main-line-height;
  @include breakpoint(big-phones) {
    line-height: 26px;
    text-align: justify;
  }
  @include breakpoint(custom) {
    line-height: 21px;
  }
}

h3 {
  padding-bottom: 17px;
  color: $black-color;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
}

.section-title {
  margin-bottom: $section-margin-bottom;
  background-color: $main-green-color;
  color: $white-color;
  text-transform: uppercase;
  span {
    position: relative;
    display: block;
    line-height: 88px;
    font-weight: 900;
    font-size: 25px;
    &:before {
      position: absolute;
      bottom: -19px;
      left: 57px;
      content: '';
      border: 12px solid transparent;
      border-top: 9px solid $main-green-color;
    }
    @include breakpoint(tablet) {
      padding-left: 10px;
    }
    @include breakpoint(phone) {
      line-height: 75px;
      font-size: 22px;
    }
  }
  @include breakpoint(phone) {
    margin-bottom: 60px;
  }
}

.cancel-padding {
  padding: 0;
}

.row--padding {
  @include breakpoint(desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.button {
  position: relative;
  display: block;
  width: 140px;
  background-color: $main-blue-color;
  color: $white-color;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-indent: 24px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: 300;
  font-size: 14px;
  transition: $main-transition;
  &:before {
    position: absolute;
    left: 0;
    content: '\f1d9';
    font-family: 'FontAwesome', sans-serif;
    font-size: 20px;
  }
  &:hover {
    background-color: #3c7dad;
    color: $white-color;
    transition: $main-transition;
  }
  &:active {
    background-color: #336992;
    color: $white-color;
  }
  &:focus {
    color: $white-color;
    text-decoration: none;
  }
}