$white-color: #ffffff;
$main-green-color: #1abc9c;
$main-blue-color: #3f8dbf;
$light-red-color: #e59098;
$light-gray-color: #c5c5c5;
$main-gray-color: #8f8f8f;
$dark-gray-color: #828282;
$light-black-color: #656565;
$black-color: #333333;
$logo-color: #cacaca;

$section-title-line-height: 90px;
$section-padding: 80px 0;
$main-line-height: 33px;