$white-color: #ffffff;
$main-green-color: #1abc9c;
$main-blue-color: #3f8dbf;
$light-red-color: #e59098;
$light-gray-color: #c5c5c5;
$main-gray-color: #8f8f8f;
$dark-gray-color: #828282;
$light-black-color: #656565;
$black-color: #333333;
$logo-color: #cacaca;
$footer-social: #b2b2b2;

$section-title-line-height: 90px;
$section-margin-bottom: 80px;
$section-margin-bottom-small: 50px;

$main-line-height: 33px;

$main-transition: .3s ease;

$main-banner-height: 700px;
$main-banner-mobile-height: 500px;

$social-item-height: 50px;