.about {
  margin-bottom: $section-margin-bottom;
}

.about__photo {
  margin-bottom: 59px;
  width: 323px;
  height: 319px;
  border-radius: 50%;
  background-color: $dark-gray-color;
}

.about__text-title {
  margin-top: 36px;
  margin-bottom: 30px;
  line-height: 35px;
  font-size: 22px;
  font-weight: 300;
}

.about--column-padding {
  padding-left: 10px;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 5px;
    padding-left: 20px;
  }
}

.about__button {
  margin: 50px auto 0 auto;
}
