.blog {
  padding-bottom: $section-margin-bottom;
  background-color: #f0f0f0;
}

.blog__row {
  margin-bottom: 38px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.blog__item {
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.05);
  transition: .15s ease;
  img {
    width: 100%;
    height: 280px;
    background-color: $light-black-color;
  }
  &:hover {
    transform: scale(1.05);
    transition: .15s ease;
  }
}

.blog__item-panel {
  padding: 30px 23px 26px 25px;
  background-color: #f9f9f9;
  color: #9f9f9f;
  text-transform: uppercase;
  @include clearfix;
}

.blog__item-info {
  float: left;
  font-size: 13px;
  font-weight: 900;
}

.blog__item--padding {
  &:nth-of-type(1n +1) {
    padding-left: 0;
  }
  &:nth-of-type(1n + 2) {
    padding-left: 20px;
    padding-right: 0;
  }
}

.blog__item-likes {
  float: right;
  font-size: 13px;
  font-weight: 900;
  .fa {
    padding-left: 3px;
    color: $light-red-color;
  }
}

.blog__item-description {
  padding: 23px 30px 15px 25px;
  background-color: $white-color;
}

.blog__item-title {
  padding-bottom: 12px;
  color: $light-black-color;
}