.main-banner {
  display: table;
  width: 100%;
  padding-top: 88px;
  height: $main-banner-height;
  background: url("../img/main-background.png") no-repeat center 80px fixed;
  background-size: cover;
}

.main-banner__caption {
  display: table-cell;
  vertical-align: middle;
  height: $main-banner-height;
  width: 100%;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
}

.main-banner__general-caption {
  display: inline-block;
  padding: 20px 17px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, .3);
  font-size: 80px;
  font-weight: 900;
}

.main-banner__secondary-caption {
  display: inline-block;
  padding: 20px 23px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, .3);
  font-size: 50px;
  font-weight: 300;
}

.main-banner__social-link {
  position: relative;
  display: inline-block;
  height: $social-item-height;
  width: 50px;
  margin-right: 3px;
  background-color: rgba(0, 0, 0, .3);
  color: $white-color;
  transition: $main-transition;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .4);
    color: $white-color;
    transition: $main-transition;
  }
  &:focus {
    color: $white-color;
  }
  .fa {
    position: absolute;
    display: block;
    width: 100%;
    line-height: $social-item-height;
    text-align: center;
    font-size: 30px;
  }
}