.main-banner {
  display: table;
  width: 100%;
  padding-top: 88px;
  height: $main-banner-height;
  background: url("../img/main-background.png") no-repeat center 70px fixed;
  background-size: cover;
  @include breakpoint(phone) {
    height: $main-banner-mobile-height;
    background-position: center 20px;
  }
}

.main-banner__caption {
  display: table-cell;
  vertical-align: middle;
  height: $main-banner-height;
  width: 100%;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  @include breakpoint(tablet) {
    padding: 0 20px;
  }
  @include breakpoint(phone) {
    height: $main-banner-mobile-height;
  }
}

.main-banner__general-caption {
  display: inline-block;
  padding: 20px 17px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, .3);
  font-size: 80px;
  font-weight: 900;
  @include breakpoint(laptop) {
    font-size: 67px;
  }
  @include breakpoint(tablet) {
    font-size: 56px;
  }
  @include breakpoint(phone) {
    font-size: 43px;
  }
}

.main-banner__secondary-caption {
  display: inline-block;
  padding: 20px 23px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, .3);
  font-size: 50px;
  font-weight: 300;
  @include breakpoint(laptop) {
    font-size: 42px;
  }
  @include breakpoint(tablet) {
    font-size: 36px;
  }
  @include breakpoint(phone) {
    margin-bottom: 10px;
    font-size: 28px;
  }
}

.main-banner__social-link {
  position: relative;
  display: inline-block;
  height: $social-item-height;
  width: 50px;
  margin-right: 3px;
  background-color: rgba(0, 0, 0, .3);
  color: $white-color;
  transition: $main-transition;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .4);
    color: $white-color;
    transition: $main-transition;
  }
  &:focus {
    color: $white-color;
  }
  .fa {
    position: absolute;
    display: block;
    width: 100%;
    line-height: $social-item-height;
    text-align: center;
    font-size: 30px;
  }
  @include breakpoint(phone) {
    height: 40px;
    width: 40px;
    .fa {
      line-height: 40px;
      font-size: 24px;
    }
  }
}