.portfolio {
  background-color: $black-color;
  .container-fluid {
    max-width: 2200px;
  }
}

.portfolio__subtitle {
  color: $white-color;
}

.portfolio__section-desc {
  padding-bottom: 48px;
  color: $light-gray-color;
}

.portfolio__items {
  margin-bottom: $section-margin-bottom;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    height: 600px;
    min-width: 100%;
    @include breakpoint(laptop) {
      height: auto;
      width: 100%;
      max-height: none;
      max-width: none;
    }
  }
}

.portfolio__item--padding {
  padding-right: 0;
}